.banner{
    height: 100px;
    width: 20%;
    align-items: center;
       /* The image used */
    
  }
 
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}