		left: 0;
	}
	
	.content {
		width: 100%;
		height: 100%;
		color: #fff;
		background-color: rgba(24, 43, 60, .089);
		backdrop-filter: blur(20px);
		border: 1px solid #fff;
		border-radius: 6px;
		box-shadow: 0 0 30px rgb(4 19 33 / 31%);
		transition: all .4s;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
		img {
			width: 100px;
			height: 100px;
			margin-bottom: 1rem;
			border-radius: 50%;
		}
		
		h3 {
			margin-bottom: .8em;
			font-size: 1.5em;
			text-align: center;
			
			small {
				display: block;
				font-size: .5em;
				font-weight: normal;
			}
		}
		
		p {
			padding: 0.3em 1.5em;
			font-size: .8em;
			text-align: center;
		}
	}
	
	&:hover {
		&::before {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			transform: translate(20px, -20px);
			background-color: #2fac68;
		}
		
		&::after {
			width: 100px;
			height: 100px;