body{
    /* background-color: aliceblue; */
    background-image: url("https://drive.google.com/drive/u/0/folders/1dV21alosVXryuPTcSyiz776q2Wy4933_.Common Mime 1.jpeg");
}
.main{
    margin: 0 auto;
    background-color: cadetblue;
    text-align: center;
    padding: 3rem;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 3rem;
}
button{
    padding: 1rem 2rem;
    color: darkcyan;
    border:#fff;
    background-color: #fff;
}
p{
    color: #fff;
    font-size: 1.6rem
}
a{
    text-decoration: none;
}
a:visited 
{
color: purple
}