
::root {
    --color-iris: #4D5AE5;
    --color-navyblue: #2E2F42;
    --color-white: #FFFFFF;
    --color-cornflower: #E7E9FC;
    --color-ocean: #404BBF;
    --color-cloud: #F4F4FD;
    --color-dairy: #FCFCFC;
    --color-slate: #434455;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --font-family-open-sans: 'Open sans', san-serif;
    --font-family-roboto: 'Roboto', san-serif;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}




*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*apps*/

.btn-detail {
    color: var(--color-cloud);
    background-color: #198754;
}
.btn-back {
    color:var(--color-cloud);
    background-color: #191970;
}

    .btn-submit {
        color: var(--color-cloud);
        background-color: #191970;
    }
.btn-reset {
    color: var(--color-navyblue);
    background-color:#fd7e14;
}


.btn-reset,
.btn-submit, 
.btn-back,
.btn-detail{
    border-style: none;
    border-radius: 4px;
    padding: 6px;
    font: var(bs-font-sans-serif);
    }
  
/* Set styles for HTML elements */
h1,
h2 {
    font-family: arial;
    text-align: center;
}
/*ml5*/
.imageInput {
    width: 100%;
    text-align: center;
}

.imageResult {
    font-family: arial;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: red;
}

.uploadedImage {
    padding-top: 20px;
    width: 50%;
    height:auto;
    margin-left: 25%;
}

 /*index*/
 .card-app-list{
    width: 200px;
    border:1px solid;
    border-color:blue;
    text-align: center;
    border-radius:5px;
    background-color: yellow;
    gap:5px;
    display: flex;
    flex-wrap: wrap; 
}

.card-dev-list{
    width: 240px;
    border:1px solid;
    border-color:orange;
    text-align: center;
    border-radius:5px;
    margin: 20px 20px 10px 20px;
    background-color: white;
    gap:10px;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

/*navbutton home*/
.icon-bar-home {
  width: 100%;
  /* Full-width */
  background-color: #F5F5DC;
  /* Dark-grey background */
  overflow: auto;
  /* Overflow due to float */
}

.icon-bar-home a {
  float: left;
  /* Float links side by side */
  text-align: center;
  /* Center-align text */
  width: 100%;
  /* Equal width (5 icons with 25% width each = 100%) */
  padding: 10px 0;
  /* Some top and bottom padding */
  transition: all 0.3s ease;
  /* Add transition for hover effects */
  /*color: white;  White text color */
  font-size: 8px bold;
  /* Increased font size */
}

.icon-bar-home a:hover {
  background-color: yellow;
  /* Add a hover color */
}

.icon-bar-home .active {
  background-color:yellow;
  border-color:orange;
  /*background-color: var(--bs-purple);*/
  /* Add an active/current color */
}

.icon-size{
  height: auto ;
  width: auto;
    
}
li{
    list-style:none;
  }
h2{
   text-align:center;
}
