{% load static %}
<!DOCTYPE html>
<html lang="en">
<head><title>{% block title %}Dashboard{% endblock %}</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{% static 'css/iconbar.css' %}">
 <link rel="stylesheet" href="/storage/emulated/0/documents/css/iconbar.css" />
 
<style>
.bg-blue{
    background-color:rgb(81,191,255);
    font-size: large;
}
.bg{
    background-color:rgb(68, 233, 225);
    font-size: smaller;
}
.img{
    height: 100px;
    width: 100px;
}
.img-side{
    height: 15px;
    width: 15px;
}
</style>


</head>
<body>
    {% block pagecontent %}
    
<!-------------------------------Nav bar section-------------------------------------------->
<section>
          <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'dashboard' %}">APPS</a>
            
            <img src="{% static '/images/8i8.png' %}">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
 
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li id="home-item" class="nav-item font-weight-bold">
                                                <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My Farm</a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/storage/emulated/0/documents/betterfly_nav/manage_farm.html">Manage Farm</a>
                       </div>
                    </li>
 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lepidoptera apps</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="Butterfly_identifier.html">Butterfly</a>
                            <a class="dropdown-item" href="moth.html">Moth</a>
                            <a class="dropdown-item" href="skipper.html">Skipper</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Classify apps</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        
                            <a class="dropdown-item" href="hostplantidentifier.html">Host Plants</a>
                            <a class="dropdown-item" href="predators.html">Predators</a>
                        </div>
                    </li>
 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage apps</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <a class="dropdown-item" href="/storage/emulated/0/documents/betterfly_nav/Pupae_identifier.html">Pupae apps</a>
                            <a class="dropdown-item" href="/storage/emulated/0/documents/betterfly_nav/Larvae_identifier.html">Larvae apps</a>
                            <a class="dropdown-item" href="/storage/emulated/0/documents/betterfly_nav/Egg_identifier.html"> Eggs apps</a>
                        </div>
                    </li>
 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Health apps</a>
                    
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="objectidentifier.html">Defects and Diseases</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="setting.html">Setting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="rate.html">Rate</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'Logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
    </nav>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</section>
<!-----------------------------Category section--------------------------------------------->
<hr>
<br>
<header class="bg-blue text-center">


<div class="container">


<table>
<tr>
    <td> 
    <div class="card">
              <img class="img-fluid card-image-top" src="{ static '/images/Butterfly_icon.png' %}" style:width="100%"/> 

   <div class="container">
    <h4 class="bg-text-center"><b>Butterflies Identifier</b></h4>
    <p>Lepidoptera</p>
   </div>
   </div>


      <hr>
      <!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="#" class="w3-bar-item w3-button"><img class="img-side" src="{% static '/images/overview.png' %}"/> 
      <label for="" class="button">Overview</label></a>
  <a href="#" class="w3-bar-item w3-button"><img class="img-side" src="{% static '/images/upload.png' %}"/> 
      <label for="" class="button">Upload</label></a>
  <a href="#" class="w3-bar-item w3-button"> <img class="img-side" src="{% static '/images/annotate.png' %}"/> 
      <label for="" class="button">Annotate</label></a>
  <a href="#" class="w3-bar-item w3-button">     
      <img class="img-side" src="{% static '/images/dataset.png' %} "/> 
      <label for="" class="button">Dataset</label><br></a>
</div>
      
      


    </td>
    <hr>
    <td>
        <section class="container container-fluid">
            <h2 class="bg-blue text-center ">Butterflies Identifier</h2>
                <div id="intro-section" class="row">
                    <div class="col-xl-3 text-center">
                        <div class="container-fluid card">
                      
                            <span class="dot"></span>
                            
                        <a href="{% url 'bClassify' %}" class="btn btn-succes"><h6 class="display-8">Butterfly</h6></a>
                        <br />
                        <label class="btn-danger">Allocate</label>
                        </div>
                    </div><br>
                    <div class="col-xl-3 text-center">
                        <div class="container-fluid card">
                          
                            <span class="dot"></span>
                            <a href="http://" class="btn btn-succes"><h6 class="display-8">Annotations</h6></a>
                            <br />
                            <label class="btn-danger">Allocate</label>
                        </div>
                    </div><br>
                    <div class="col-xl-3 text-center">
                        <div class="container-fluid card">
                        
                            <span class="dot"></span>
                            <a href="http://" class="btn btn-succes"><h6 class="display-8">Average Image Sizes</h6></a>
                            <br />
                            <label class="btn-danger">Allocate</label>
                        </div>  
                    </div><br>
                    <div class="col-xl-3 text-center">
                        <div class="container-fluid card">
                           
                            <span class="dot"></span>
                            <a href="http://" class="btn btn-succes"><h6 class="display-8">Median Image ratio</h6></a>
                            <label class="btn-danger">Allocate</label>
                        </div>  
                    </div>
            
            <br>

                    <div class="col-xl-12 text-center">
                        <div class="container-fluid card">
                            
                            <a href="http://" class="btn btn-succes">

                            <span class="dot"></span>
                            <a href="http://" class="btn btn-succes"><h6 class="display-8">Butterfly Class Balance</h6></a>
                            <label class="btn-danger">Butterfly Classes</label>

                        <input type="range" class="custom-range" id="customRange" name="points1">
                          
                            </a>
                        </div>
                    
                        <div class="container-fluid card">
                        
                            <span class="dot"></span>
                            <a href="http://" class="btn btn-succes"><h6 class="display-8">Dimension Insights</h6></a>
                            <label class="btn-danger">Size Distributions</label>
                        </div>  

                    </div>

            </div>
    </div>
    <br>
    </td>
</tr>

</table>
</div>  
  
<nav class="navbar navbar-expand-sm navbar-dark bg-light fixed-bottom">
    <div class="icon-bar btn btn-info">
        
        <div class="icon-size">
            <a href="{% url 'home' %}"><img src="{% static '/images/home2.png' %}">
                            <label for="" class="icon-size">
            </a>
        </div>
        <div class="icon-size">
            <a href="/storage/emulated/0/documents/betterfly_nav/Butterfly_identifier.html"><img src="{% static '/images/butterfly3.png' %}">
                            <label for="" class="icon-size">
            </a>
        </div>
        <div class="icon-size">
            <a href="{% url 'classify' %}"><img src="{% static '/images/classify4.png' %}">
                            <label for="" class="icon-size">
            </a>
        </div>
        <div class="icon-size">
            <a href="{% url 'proper_care'%}"><img src=" {% static '/images/task.png' %}">
            <label for="task">
            </a>
        </div>
        <div class="icon-size">
            <a href="/storage/emulated/0/documents/betterfly_nav/user.html"><img src="{%  static '/images/user.png'%}">
            <label for="user" class="icon-size">
            </a>
        </div>

    </div>
</nav>
    <hr>
<script src="https://code.jquery.com/jquery-3.6.0.js"> </script>
<script src="/storage/emulated/0/documents/js/bundle.min.js"></script>
<hr>
    <script src="{% static 'jquery-3.6.0.slim.min.js' %}"> </script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    {% endblock %}
    
</body>
</html>


