
{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{% block title %}ML Butterfly{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/iconbar.css' %}">
    <link rel="stylesheet" href="/storage/emulated/0/documents/css/iconbar.css" />
</head>
 
<body>
    {% block pagecontent %}
<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'dashboard' %}">APPS</a>
            
            <img src="/storage/emulated/0/documents/images/8i8.png">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
 
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li id="home-item" class="nav-item font-weight-bold">
                                                <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My Project</a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/storage/emulated/0/documents/betterfly_nav/manage_farm.html">Create Project</a>
                       </div>
                    </li>
 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-content" href="#" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Label</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="butterfly.html">Butterfly</a>
                            <a class="dropdown-item" href="moth.html">Moth</a>
                            <a class="dropdown-item" href="skipper.html">Skipper</a>

                            <a class="dropdown-item" href="lepidoptera.html">Butterfly</a>
                            <a class="dropdown-item" href="hostplantidentifier.html">Host Plants</a>
                            <a class="dropdown-item" href="predators.html">Predators</a>
                        
                    </li>
 
                    <li class="nav-item dropdown">

                            <a class="dropdown-item" href="pupae_size.html">Butterfly apps</a>
                            <a class="dropdown-item" href="pupae_gender.html">Pupae apps</a>
                            <a class="dropdown-item" href="pupae_defects.html">Larvae apps</a>
                            <a class="dropdown-item" href="pupae_dayold.html"> Eggs apps</a>

                    </li>
 
                    <li class="nav-item dropdown">
                  
                            <a class="dropdown-item" href="defects.html">Defects and Diseases</a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="train.html">Train</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="evaluate.html">Evaluate</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{% url 'dashboard' %}">Predict</a>
                    </li>
                </ul>
            </div>
    </nav>
</section>
{% endblock %}


    <header class="text-center">
      <h3 class="display-8">Proper Care Management System</h3>



    </header>
    
    <hr />




  <header class="text-center">
      <div id="" class="container">
    
   <a href="/storage/emulated/0/documents/betterfly_nav/proper_care.html">HOME
               <i class="fa fa-chevron-left" aria-hidden="true">        </i> 
               
   </a>
      <h5 class="display-8">Eggs Defects and Diseases</h5>
<br />
<div id="" class="col-xl-4"> 

<div id="" class="grid-container">
       <div class="card" style="width:140px">
            
            <div class="card-body">
                                   
                <img class="card-img" src="{% static '/images/eggs.png' %}" style:width="100%"/> 
                   <h5 class="card-title">Manage</h5>
                   <a href="{% url 'camera' %}" class="btn btn-primary">+</a>
            </div>
       </div>
         <div class="card" style="width:140px">
            
            <div class="card-body">
                                   
                <img class="card-img" src="{% static '/images/eggs.png'%}" style:width="100%"/> 
                   <h5 class="card-title">Classify</h5>
                   <a href="{% url 'iClassify' %}" class="btn btn-primary">+</a>
            </div>
        </div>
   </div>
    

</div>

    <nav class="navbar navbar-expand-sm navbar-dark bg-light fixed-bottom">
        <div class="icon-bar">
            
            <div class="icon-size">
                <a href="/storage/emulated/0/documents/betterfly_nav/nav.html"><img src="/storage/emulated/0/documents/images/home2.png">
                                <label for="" class="icon-size">
                </a>
            </div>
            <div class="icon-size">
                <a href="/storage/emulated/0/documents/betterfly_nav/Butterfly_identifier.html"><img src="/storage/emulated/0/documents/images/butterfly3.png">
                                <label for="" class="icon-size">
                </a>
            </div>
            <div class="icon-size">
                <a href="/storage/emulated/0/documents/betterfly_nav/classify.html"><img src="/storage/emulated/0/documents/images/classify4.png">
                                <label for="" class="icon-size">
                </a>
            </div>
            <div class="icon-size">
                <a href="/storage/emulated/0/documents/betterfly_nav/proper_care.html"><img src="/storage/emulated/0/documents/images/task.png">
                <label for="task">
                </a>
            </div>
            <div class="icon-size">
                <a href="/storage/emulated/0/documents/betterfly_nav/user.html"><img src="/storage/emulated/0/documents/images/user.png">
                <label for="user" class="icon-size">
                </a>
            </div>

        </div>
    </nav>
</section>
<hr/>
<script src="https://code.jquery.com/jquery-3.6.0.js"> </script>
<script src="/storage/emulated/0/documents/js/bundle.min.js"></script>

</body>
 
</html>
